<?xml version='1.0' encoding='utf-8'?>
<plugin id="pebuu.printer" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Printer</name>
    <js-module name="Printer" src="www/Printer.js">
        <!--<clobbers target="cordova.plugins.Printer" /> -->
        <clobbers target="RTPrinter" />
    </js-module>
   <js-module src="www/PrinterConstants.js" name="Camera">
        <clobbers target="RTConstants" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Printer">
                <param name="android-package" value="pebuu.printer.Printer" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.BLUETOOTH" />
        </config-file>
        <source-file src="src/android/Printer.java" target-dir="src/pebuu/printer/Printer" />
        <source-file src="src/android/BaseEnum.java" target-dir="src/pebuu/printer/BaseEnum" />
        <source-file src="src/android/TonyUtils.java" target-dir="src/pebuu/printer/TonyUtils" />
        <source-file src="src/android/libs/printer_library.jar" target-dir="libs" />
        <source-file src="src/android/libs/android-support-annotations.jar" target-dir="libs" />
    </platform>
</plugin>